.img{
    height: 220px;
}

.details-card{
   margin-top: 15px;
    width: 30rem;
    margin-left: 10%;
    box-shadow: 4px 4px 8px rgb(68, 39, 254);
}
@media screen and (max-width:767px){

    .details-card{
        width: 18rem;
        margin: auto;
    }
}

